{% extends 'base.html.twig' %}

{% block title %}Reminder{% endblock %}

{% block body %}

<div class="text-center" style="width:100%">
    <h1>Votre <em>Reminder</em></h1>
    
    {{ form_start(form) }}
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                    {{ form_widget(form.date) }}
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    {{ form_end(form) }}
</div>

<style>
.btn-w-100 {
    width:100%;
}
</style>
<script type="text/javascript">
    $(function () {
        $('.datetimepicker').datetimepicker({
                 locale: 'fr',
        });
    });
</script>
{% endblock %}
